:root {
    --black: #212121;
    --white: #ffffff;
    --footer_color: #2f303a;
    --blue: #2196f3;
    --grey: #757575;
    --like_white: #f5f4fa;
    --light_blue: #188ce8;
    --icon: #afb1b8;
    --fonts: "Roboto";
}


body {
    font-family: var(--fonts), sans-serif;
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;

}

h1, h2, h3, h4, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

address {
    font-style: normal;
}

li {
    list-style-type: none;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    outline-color: rgba(33, 150, 243, 0.5);
}

img {
    display: block;
}

.container {

    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}


/* header*/

.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;

}

.header .container {
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: 93px;


}


.link-list {
    display: flex;
    gap: 50px;
}


   .link-element a {
        color: var(--black);
        font-weight: 500;
        transition: color 300ms ease-in-out;
        letter-spacing: 0.02em;
    }

    a:hover, a:focus {
        color: var(--blue);
    }



.link-element-active{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: var(--blue);
}
.link-list .link-element-active ::after{
    content: "";
    display: block;
    bottom: -32px;
    border-radius: 2px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    position: absolute;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 40px;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }

}

.header-icon{

        margin-right: 10px;
        align-self: center;
        fill:currentColor;


}

.header_contacts_link{
    display: flex;
    align-items: center;
}

.header-logo {


    color: var(--blue);

    > span {
        color: var(--black);
    }

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* business */



.hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/business.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

.business-section-title {
    margin: auto;
    color: var(--white);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 696px;
}

.business-section-button {
    color: var(--white);
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    padding: 10px 24px;
    margin-top: 30px;
    transition: background-color 300ms ease-in-out;

}

.business-section-button:hover, .business-section-button:focus {
    background-color: var(--light_blue);
}




/* +/detail */




.detail {
    padding-top: 94px;
    padding-bottom: 94px;
}

.detail-list {
    gap: 30px;
    display: flex;
}

.detail-list-element{
    max-width: 270px;
}

.detail-list-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--like_white);
    border-radius: 4px;
}

.detail-list-title {

    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.detail-list-text {

    color: var(--grey);
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* work */

.work {
    text-align: center;
    padding-bottom: 94px;
}

.work ul {
        display: flex;
        gap: 30px;
        justify-content: center;
    }

.work-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

}

.work-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}
.work-list-element{
    position: relative;
}
.work-list-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    word-wrap: break-word;
}


/* team */

.team {
    background: var(--like_white);
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;


}

.team-title {
    color: var(--black);
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;

}


/* members */



.members {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);

}

.members-div-text{
    padding: 30px;

}


.member-title {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}

.member-text {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.members-social-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 16px;
}

.members-social-links li {
    width: 44px;
    height: 44px;
}

.social-links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--icon);
    fill: currentColor;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

a.social-links-icons:hover,
a.social-links-icons:focus {
    background-color: var(--blue);
    color: var(--white);
    outline: none;
}



/*clients */

.clients{
    text-align: center;
    padding: 94px;
}

.client-list{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.clients-title{
    color: var(--black);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    margin-bottom: 50px;}

.client a{
    border-radius: 4px;
    border: 1px var(--icon) solid;
    display: inline-block;
    color: var(--icon);
    transition: color 300ms ease-in-out, border 300ms ease-in-out;
}
.client a:hover,
.client a:focus {
    color: var(--blue);
    border: 1px var(--blue) solid;
}

.client-logo{
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    fill: currentColor;
    transition: fill 300ms ease-in-out;
}



/* button list in portfolio*/

.button_list {
    padding-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


    .button_list_item {
        text-align: center;
        padding: 6px 22px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
        border: none;
    }
    .button_list_item:hover, .button_list_item:focus {
        color: var(--white);
        background-color: var(--blue);
        box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    }


/* list of project in portfolio*/

.project-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;

}


.project-list-element {
    border: 1px solid #eeeeee;
    background: var(--white);
    max-width: 370px;
}



.project-list-element a:hover,
.project-list-element a:focus {
    background-color: var(--white);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.project-list-element a{
    display: inline-block;
    transition: box-shadow 300ms ease-in-out;
}

.project-list-img{
    width: 100%;
}

.project-list-container{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.project-list-container-text{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    transform: translateY(101%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    opacity: 0.9;
    transition-property: transform;
    background-color: var(--blue);

}

.text_portfolio {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--white);
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
}

.project-list-element a:hover .project-list-container-text,
.project-list-element a:focus .project-list-container-text{
    transform: translateY(0);
}

.project-list-title {
    color: var(--black);
    font-size: 18px;
    line-height: 2;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-bottom: 4px;


}

.project-list-text {

    color: var(--grey);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;

}

.project-list-element-text {
    padding: 20px 23px;
}


/* footer */


.footer {
    background-color: var(--footer_color);
}

.footer .container {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
    gap:94px;
}


.footer-logo {
    color: var(--blue);

    > span {
        color: var(--white);
    }

    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 28px;
}

.footer address ul li:not(:last-child) {

    margin-bottom: 12px;
}


.address {
    color: var(--white);
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}


.footer-text{
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-links{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.footer-social-links li{
    height: 44px;
    width: 44px;
}

.footer-social-links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;

    color: var(--white);
    fill: currentColor;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.footer-social-links-icons:hover,
.footer-social-links-icons:focus {
    color: var(--white);
    fill: currentColor;
    background-color: var(--blue);
}

.contact-info-footer {
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-style: normal;

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }
}



.join {
    flex-grow: 1;
}

.footer_box_second_plus_one {
        display: flex;
}

.footer-label-input{
    flex-grow: 1;
}
.footer_input {
    width: 100%;
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 16px 16px 16px 16px;

    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
        }

.footer_button {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;

    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white);
    display: flex;
    align-items: center;
    transition: background-color 300ms ease-in-out;
        }

.footer_button:hover, .footer_button:focus {
    background-color: var(--light_blue);
}



.footer_button_svg {
    margin-left: 10px;
    fill: currentColor;
        }

.footer_input:focus,
.footer_input:hover {
    outline-color: var(--blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
    }


/* modal window*/


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    min-width: 528px;
    background-color: var(--white);
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-button {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon-modal {
    width: 18px;
    height: 18px;
    fill: var(--black);
    transition: fill 0.5s;
}

.close-modal-button:hover .icon-modal,
.close-modal-button:focus .icon-modal {
    fill: var(--blue);
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.form_title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
}

.label-text {
    display: block;
    margin-bottom: 4px;
}

.form-li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px #21212133 solid;
    padding: 11px 0px 11px 30px;
    transition: outline-color 300ms ease-in-out;
}

.form_textarea {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px #21212133 solid;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    padding: 11px 12px;
    resize: none;
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
    color: var(--blue);
}

.form-input:hover,
.form-input:focus,
.form_textarea:hover,
.form_textarea:focus {
    outline: 1px var(--blue) solid;
}

.form-label {
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    position: relative;
}

.form-label:not(:first-child) {
    margin-top: 10px;
}

.form-icon {
    position: absolute;
    color: var(--black);
    bottom: 11px;
    left: 12px;
    transition: color 300ms ease-in-out;
}

.checkbox-div {
    margin-top: 20px;
    /*padding-bottom: 30px;*/
    /*padding-left: 15px;*/
    justify-content: center;
    display: flex;
    gap: 9px;
}

.form-a {
    text-decoration: underline;
    color: var(--blue);
}

.label_license {
    cursor: pointer;
    color: var(--grey);
}

input[type="checkbox"] {
    appearance: none;
    border: var(--black) 1px solid;
    height: 15px;
    width: 16px;
    color: var(--white);
    border-radius: 2px;
    transition-duration: 0.5s;
}

input[type="checkbox"]:checked {
    background: var(--blue);
    border: none;
    color: var(--white);
}

input[type="checkbox"]:checked::before {
    content: "✔";
    margin-left: 3px;
    display: inline-block;
    text-align: center;
}

.button-form-div {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.form-button {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 52px;

    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 300ms ease-in-out ;
}

.form-button:hover,
.form-button:focus {
    background: var(--light_blue);
}
