.detail {
  padding-top: 94px;
  padding-bottom: 94px;
  @include mobile {
    padding: 60px 0;
  }
  @include tablet {
    padding: 60px 0;
  }
  .detail-list-element {
    flex: 1;
    @include mobile {
      max-width: 100%;
    }
    @include tablet{
      max-width:  350px;
      min-width: 290px;
    }
  }

  .detail-list {
    gap: 30px;
    display: flex;
    @include tablet {
      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
    .detail-list-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 25px 100px;
      margin-bottom: 30px;
      background-color: $like_white;
      border-radius: 4px;
      @include tablet {
        padding: 25px 142px;
      }
      @include mobile {
        padding: 25px 100px;
      }
    }

    .detail-list-title {
      color: $black;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
      @include mobile{
        text-align: center;
      }
    }

    .detail-list-text {
      color: $grey;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }


