.work {
  text-align: center;
  padding-bottom: 94px;
  @include tablet {
    display: none;
  }
  @include mobile {
    display: none;
  }

  ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    @include tablet {
      flex-wrap: wrap;
    }
  }

  .work-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }

  .work-list {
    display: flex;
    gap: 30px;
    justify-content: center;

    .work-list-element {
      position: relative;

      .work-list-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;

        color: $white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        word-wrap: break-word;
      }
    }
  }
}
