.button-list {
  padding-top: 94px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  @include mobile {
    justify-content: normal;
    flex-wrap: wrap;
    max-width: 350px;
    row-gap: 15px;
    padding-top: 60px;
    margin-bottom: 40px;
  }
  @include tablet{
    padding-top: 60px;
    margin-bottom: 40px;
  }



  .button-list-item {
    text-align: center;
    color: $black;
    padding: 6px 22px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
    border: none;

    &:hover,
    &:focus {
      color: $white;
      background-color: $blue;
      box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    }
  }
}
