.project-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
  justify-content: center;
  @include mobile {
    //padding: 60px 0;
  }
  @include tablet {
    //padding: 60px 0;
  }
}

.project-list-element {
  border: 1px solid #eeeeee;
  background: $white;
  flex: 1;
  min-width: 290px;
  max-width: 370px;

  @include mobile {
    width: 100%;
    margin: 0;
  }

  a {
    display: block;
    transition: box-shadow 300ms ease-in-out;

    &:hover,
    &:focus {
      background-color: $white;
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

      .project-list-container-text {
        transform: translateY(0);
      }
    }
  }
}

.project-list-img {
  width: 100%;
  @include tablet {
    max-width: 100%;
  }
  @include mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.project-list-container {
  position: relative;
  display: block;
  overflow: hidden;

  .project-list-container-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    opacity: 0.9;
    transition-property: transform;
    background-color: $blue;
    @include mobile {
      transform: translateY(134%);
    }

  }
}

.text_portfolio {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: $white;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  @include mobile {
    padding: 77px 24px;
  }
}

.project-list-title {
  color: $black;
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-list-text {
  color: $grey;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.project-list-element-text {
  padding: 20px 23px;
}
